# traefik-values.yaml
ports:
  web:
    port: 80

gateway:
  listeners:
    web:
      port: 80

providers:
  kubernetesCRD:
    enabled: true
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: true